body, html {
    height: 100%;
}
.bg { 
    /* The image used */
    background-image: url("http://i.imgur.com/7QzwgpF.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.table-borderless td,
.table-borderless th {
    border: 0;
}


.bg-cisco{
	background-color: #214471;
}